<footer class="app-footer">
  <div class="footer-wrapper">
    <div class="py-1">
      <span class="text-muted">&copy; 2023, Wedash for a better web.</span>
    </div>
    <div class="py-1">
      <ul class="list-inline m-0">
        <li class="list-inline-item">
          <a class="link-secondary" href="javascript:">About Us</a>
        </li>
        <li class="list-inline-item">
          <a class="link-secondary" href="javascript:">Blog</a>
        </li>
        <li class="list-inline-item">
          <a class="link-secondary" href="javascript:">Library</a>
        </li>
      </ul>
    </div>
  </div>
</footer>