{% load static %}
<head>
  <title>Texa VisionTrack AI | Human tracking system</title>
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Dashboard Template Description" />
  <meta name="keywords" content="Dashboard Template" />
  <meta name="author" content="Techne infosys" />
  <!-- Favicon icon -->
  <link rel="icon" href="{% static 'webapp/assets/images/favicon.svg' %}" type="image/x-icon" />
  <!-- font css -->
  <link rel="stylesheet" href="{% static 'webapp/assets/fonts/tabler-icons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'webapp/assets/fonts/feather.css' %}" />
  <link rel="stylesheet" href="{% static 'webapp/assets/fonts/fontawesome.css' %}" />
  <link rel="stylesheet" href="{% static 'webapp/assets/fonts/material.css' %}" />
  <!-- vendor css -->
  <link rel="stylesheet" href="#" id="rtl-style-link" />
  <link rel="stylesheet" href="{% static 'webapp/assets/css/style.css' %}" id="main-style-link" />
  <link rel="stylesheet" href="{% static 'webapp/assets/css/custom.css' %}" id="main-style-link" />
  <link rel="stylesheet" href="{% static 'webapp/assets/css/employee.css' %}" id="main-style-link" />
  <link rel="stylesheet" href="{% static 'webapp/assets/css/violation.css' %}" id="main-style-link" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
 </head>
