{% load static %}

<aside class="app-sidebar app-light-sidebar">
  <div class="app-navbar-wrapper">
    <!-- Logo -->
    <div class="brand-link brand-logo">
      <a href="{% url 'index' %}" class="b-brand"><img src="{% static 'webapp/assets/images/logo.png' %}" alt="Logo" class="logo logo-lg w-50" /></a>
    </div>

    <!-- Main Navigation -->
    <div class="navbar-content">
      <ul class="app-navbar">
        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i class="ti ti-layout-2"></i></span>
            <span class="nav-text">Dashboard</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Default</a>
            </li>
            {% comment %}
            <li class="nav-item">
              <a class="nav-link" href="dashboard/ecommerce.html">Ecommerce</a>
            </li>
            {% endcomment %}
          </ul>
        </li>

        <li class="nav-item nav-caption">
          <label>Employee</label>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i class="ti ti-layout-2"></i></span>
            <span class="nav-text">Add Employee</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'face_register' %}">Add Face</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="camera"></i></span>
            <span class="nav-text">Cameras</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'camera' %}">CCTV</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="activity"></i></span>
            <span class="nav-text">Employee Track</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'track_employee' %}">Track</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="users"></i></span>
            <span class="nav-text">Persons</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'detected_faces' %}">Detected Face</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'no_face' %}">No Face</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="eye"></i></span>
            <span class="nav-text">Employee List</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'employee_list' %}">List</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="calendar"></i></span>
            <span class="nav-text">Attendance</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'attendance_page' %}">Time</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="bell"></i></span>
            <span class="nav-text">Alert</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Create Rules</a>
            </li>
          </ul>
        </li>

        <li class="nav-item nav-hasmenu">
          <a href="#!" class="nav-link">
            <span class="nav-icon"><i data-feather="trending-up"></i></span>
            <span class="nav-text">Report</span>
            <span class="nav-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="nav-submenu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'violation_dashboard' %}">Rule Report</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</aside>
