{% load static %}
<div class="theme-roller">
  <div class="open-button">
    <button class="btn btn-primary" id="pct-toggler">
      <i data-feather="settings"></i>
    </button>
  </div>
  <div class="theme-roller-content">
    <div class="presets-header bg-primary">
      <h5 class="mb-0 text-white f-w-400">Theme Customizer</h5>
    </div>
    <div class="presets-list">
      <h6 class="mt-2">
        <i data-feather="credit-card" class="me-2"></i>Primary color settings
      </h6>
      <hr class="my-2" />
      <div class="themes-preference">
        <a href="#!" class="" data-value="theme-1"></a>
        <a href="#!" class="" data-value="theme-2"></a>
        <a href="#!" class="" data-value="theme-3"></a>
        <a href="#!" class="" data-value="theme-4"></a>
      </div>
      <hr class="my-2" />
      <h6 class="mt-4">
        <i data-feather="sun" class="me-2"></i>Layout settings
      </h6>
      <hr class="my-2" />
      <div class="form-check form-switch mt-2">
        <input type="checkbox" class="form-check-input"   id="cust-darklayout" />
        <label class="form-check-label f-w-600 pl-1" for="cust-darklayout" >Dark Layout</label>
      </div>
      <h6 class="mt-4">
        <i data-feather="layout" class="me-2"></i>Right To Left
      </h6>
      <hr class="my-2" />
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input"   id="cust-rtllayout"/>
        <label class="form-check-label f-w-600 pl-1" for="cust-rtllayout">RTL layout</label>
      </div>
    </div>
  </div>
</div>

<script>
  feather.replace();
  $(document).ready(function() {
  var thtoggle = $("#pct-toggler");
  if (thtoggle.length) {
    thtoggle.on("click", function() {
      var themeRoller = $(".theme-roller");
      if (!themeRoller.hasClass("active")) {
        themeRoller.addClass("active");
      } else {
        themeRoller.removeClass("active");
      }
    });
  }

  var themescolors = $(".themes-preference > a");
  themescolors.on("click", function(event) {
    var targetElement = $(event.target);
    if (targetElement.is("span")) {
      targetElement = targetElement.parent();
    }
    var temp = targetElement.attr("data-value");
    $("body").removeClass(function(index, className) {
      return (className.match(new RegExp("\\btheme-\\S+", "g")) || []).join(" ");
    });
    $("body").addClass(temp);
    localStorage.setItem("themePreference", temp); // Save theme preference color to localStorage
  });

  var custthemebg = $("#cust-rtllayout");
  custthemebg.on("click", function() {
    if (custthemebg.prop("checked")) {
      $("html").attr("dir", "rtl");
      $("html").attr("lang", "ar");
      $("#rtl-style-link").attr("href", "{%static 'webapp/assets/css/style-rtl.css' %}");
      localStorage.setItem("rtlLayout", true);
    } else {
      $("html").removeAttr("dir");
      $("html").removeAttr("lang");
      $("#rtl-style-link").removeAttr("href");
      localStorage.setItem("rtlLayout", false);
    }
  });

  var custdarklayout = $("#cust-darklayout");
  custdarklayout.on("click", function() {
    if (custdarklayout.prop("checked")) {
      $(".brand-link > .b-brand > .logo-lg").attr("src", "{%static 'webapp/assets/images/logo.svg' %}");
      $("#main-style-link").attr("href", "{%static 'webapp/assets/css/style-dark.css' %}");
      localStorage.setItem("darkLayout", true);
    } else {
      $(".brand-link > .b-brand > .logo-lg").attr("src", "{%static 'webapp/assets/images/logo-dark.svg' %}");
      $("#main-style-link").attr("href", "{%static 'webapp/assets/css/style.css' %}");
      localStorage.setItem("darkLayout", false);
    }
  });

  function removeClassByPrefix(node, prefix) {
    $(node).removeClass(function(index, className) {
      return (className.match(new RegExp("\\b" + prefix + "\\S+", "g")) || []).join(" ");
    });
  }

  // Load settings from localStorage
  var storedDarkLayout = localStorage.getItem("darkLayout");
  if (storedDarkLayout === "true") {
    custdarklayout.prop("checked", true);
    $(".brand-link > .b-brand > .logo-lg").attr("src", "{%static 'webapp/assets/images/logo.svg' %}");
    $("#main-style-link").attr("href", "{%static 'webapp/assets/css/style-dark.css' %}");
  }

  var storedThemePreference = localStorage.getItem("themePreference");
  if (storedThemePreference) {
    $("body").removeClass(function(index, className) {
      return (className.match(new RegExp("\\btheme-\\S+", "g")) || []).join(" ");
    });
    $("body").addClass(storedThemePreference);
  }

  // Apply RTL layout on page load
  $(window).on('load', function() {
    var storedRtlLayout = localStorage.getItem("rtlLayout");
    if (storedRtlLayout === "true") {
      custthemebg.prop("checked", true);
      $("html").attr("dir", "rtl");
      $("html").attr("lang", "ar");
      $("#rtl-style-link").attr("href", "{%static 'webapp/assets/css/style-rtl.css' %}");
    }
  });
});

</script>