{% extends 'webapp/layouts/base.html' %}
{% load static %}
{% block content %}
  <section class="camera_index_page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cctv_haeding">
            <h2>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video">
                <polygon points="23 7 16 12 23 17 23 7"></polygon>
                <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
              </svg>Live CCTV Viewer
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="cctv-container">
      <!-- CAMERA BUTTONS -->
      <div class="camera-list">
        {% for name in camera_names %}
          <button class="tab" onclick="loadCamera('{{ name }}', this)">{{ name }}</button>
          {% comment %} <button class="tab" onclick="loadCamera('{{ name }}')">{{ name }}</button> {% endcomment %}
        {% endfor %}
      </div>

      <!-- VIDEO DISPLAY -->
      <div class="camera-view">
        <img id="cameraFeed" src="" alt="Select a camera" />
      </div>
    </div>
  </section>
  <script>
    function loadCamera(name, element) {
      const img = document.getElementById('cameraFeed')
      img.src = `/video_feed/${name}/`
    
      // Remove active class from all tabs
      document.querySelectorAll('.tab').forEach((tab) => {
        tab.classList.remove('active')
      })
    
      // Add active class to clicked tab
      element.classList.add('active')
    }
    
    // Auto-load first tab on page load
    window.onload = function () {
      const firstTab = document.querySelector('.tab')
      if (firstTab) {
        firstTab.click()
      }
    }
  </script>

  {% comment %} <script>
    function loadCamera(name) {
      const img = document.getElementById('cameraFeed')
      img.src = `/video_feed/${name}/`
    }
  </script> {% endcomment %}
{% endblock %}
