{% extends 'webapp/layouts/base.html' %}
{% block content %}
  {% load static %}
  <!-- Tabler Icons CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  <div class="container create_rule_page">
    <div class="row">
      <div class="col-md-12">
        <div class="rules-wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="create_rules">
                <h3>Create Rule</h3>
              </div>
            </div>
          </div>

          <div class="rules-grid">
            <a href="{% url 'create_meeting_rule' %}">
              <div class="rule-box">
                <i class="ti ti-calendar-plus rule-icon"></i>
                <div class="rule-name">Meeting Rule</div>
              </div>
            </a>

            <a href="{% url 'create_allowed_place_rule' %}">
              <div class="rule-box">
                <i class="ti ti-building-store rule-icon"></i>
                <div class="rule-name">Allowed Place</div>
              </div>
            </a>

            <a href="{% url 'create_restricted_zone_rule' %}">
              <div class="rule-box">
                <i class="ti ti-shield-lock rule-icon"></i>
                <div class="rule-name">Restricted Zone</div>
              </div>
            </a>

            <a href="{% url 'create_inout_time_rule' %}">
              <div class="rule-box">
                <i class="ti ti-clock-cog rule-icon"></i>
                <div class="rule-name">In / Out Time Rule</div>
              </div>
            </a>

            <a href="{% url 'create_group_gathering_rule' %}">
              <div class="rule-box">
                <i class="ti ti-users rule-icon"></i>
                <div class="rule-name">Group Gathering</div>
              </div>
            </a>

            <a href="{% url 'create_unknown_alert_rule' %}">
              <div class="rule-box">
                <i class="ti ti-alert-circle rule-icon"></i>
                <div class="rule-name">Unknow Entry Alert</div>
              </div>
            </a>

            <a href="{% url 'create_phone_usage_rule' %}">
              <div class="rule-box">
                <i class="ti ti-device-mobile-message rule-icon"></i>
                <div class="rule-name">Phone Usage</div>
              </div>
            </a>

            <a href="{% url 'create_helmet_rule' %}">
              <div class="rule-box">
                <i class="ti ti-shield-check rule-icon"></i>
                <div class="rule-name">Safety Rules</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
