{% extends 'webapp/layouts/base.html' %}
{% load static %}
{% block content %}
  <div class="container detected_face_page">
    <div class="search-box">
      <div class="row">
        <div class="col-md-12">
          <div class="detected_face">
            <h2>Detected Faces</h2>
          </div>
        </div>
      </div>
      <form method="get" class="grid-main">
        {% comment %} <div>
          <input type="date" name="date" required />
        </div> {% endcomment %}
        <div>
        <input 
          type="date" 
          name="date" 
          value="{{ today|date:'Y-m-d' }}" 
          required 
        />
       </div>
        <div>
          <select name="camera">
            <option value="all">All Cameras</option>
            {% for cam in cameras %}
              <option value="{{ cam }}">{{ cam }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <select name="type">
            <option value="">All Types</option>
            <option value="employees">All Employees</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>
        <div>
          <button class="btn-search">Search</button>
        </div>
      </form>
    </div>
    {% if searched %}
      <div class="mb-4 text-center">
        <span class="badge bg-default fs-6 px-4 py-2">{{ searched.date }} – {{ searched.camera }} – {{ searched.type }}</span>
      </div>
    {% endif %}

    <div class="grid">
      {% for r in results %}
        <div class="card">
          <div class="text-center">
            <img src="/media/{{ r.image }}" />
          </div>
          <h3>
            {{ r.emp_id }}{% if r.emp_name %}
              - {{ r.emp_name }}
            {% endif %}
          </h3>
          <p class="camera_location">{{ r.camera }}</p>
          <div class="">
            <div class="time_flex_center">
              <p class="time-first">
                <span class="in_out_span">In:</span> <span class="in_out_time">{{ r.first_time|date:'H:i:s' }}</span>
              </p>

              {% if r.last_time %}
                <p class="time-last">
                  <span class="in_out_span">Out:</span> <span class="in_out_time">{{ r.last_time|date:'H:i:s' }}</span>
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <p>No data found</p>
      {% endfor %}
    </div>
  </div>
<!-- at the bottom of the template or in a script block -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const today = new Date().toISOString().split("T")[0];
    document.getElementById("date-input").value = today;
  });
</script>
{% endblock %}
